/* HTML Selectors */
body {
    font-family: 'Azeret Mono', monospace;
    font-size: 1rem;    
    line-height: 2rem;
    margin:auto;
    padding: 0;
}

div {
    margin: 10px;
    text-align: center;
}

header, footer{
    background-color: rgba(92, 53, 33, 0.889);
    padding: 20px;
    margin: 1rem;
    border-radius: 10px;
    color: white;
    border: black solid 2px;
    text-align: center;
    
}

footer a {
    color: white;
}


main {
    text-align: center;
}

nav {
	background-color: #906ef6e9;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
    display: block;
    flex-direction: row;
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	
	transition: 0.5s;
}





ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}




 ul li {
    
    margin: 10px;
}

ul li a {
    color: blue;
    text-decoration: underline;

}
ul li a:hover {
    background-color: #b1a6a676;
    color: rgb(145, 39, 202);
    font-size: larger;
}

nav ul li a:hover {
			background-color: white;
			font-size: larger;
			color: #906ef6e9;
		--d: 75%;
}

main {
	
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section h2 {
	color: #ffffff;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: rgba(170, 21, 21, 0.574);
}

main section:nth-child(2) {
	display: block;
	margin: 0.5rem;
}


main section picture img {
		width: 80%;
		height: auto;
		border: 1px solid #bbb;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
	}


table, th, td {
  border:1px solid black;
  margin-right: 3.5rem;
  padding: 20px;
  
}

th {
    font-family:monospace;
    font-weight:bolder;
    
}



/* Class Selectors */
.last_updated {
    color: yellow;
}

.content {

    margin-left: 3.5rem;
    
}
.content ul{

    margin-left: 2rem;
    
}

.profile_image {
    width: 200px;
    height: auto;
    
    
}

.weather_logo_image{

    width: 200px;
    height: auto;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

.dp_inersection {
    background-color:white;
    padding:1em;
    text-align: left;
}

.heading_background {
    background-color:#d3c8df;
}

.nav_background {
    background-color:#906ef6e9;
}

.nav_text {
    color:white;
}

.body_background {
    background-color:white;
}



