/* Media Queries */

@media (min-width: 32.5em) {

    .profile_image {
    width: 200px;
    height: auto;
    float: right; 
    margin-right: 1em; 
    
    }
}



/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
        margin: 0 1.5rem;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
        margin: 0 1.5rem;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
