

@media only screen and (min-width: 55.5em) {

nav{
    grid-column-start: 1;

    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.navigation {
    display: flex;
}

.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}

.navigation li:first-child {
    display: none;
}

.forecast {
    display:block;
}

.article{
    text-align: justify;
}

.article img{
    width:400px;
    float: right; 
    margin-left: 1.5rem;
    margin-right: 0;

}

.contactus{
    text-align: left;
    
}

.contactus div{
    text-align: left;
    float: right; 
    margin-left: 0;
}

.contactus img{
    width:400px;
    float: left; 
    margin-left: 1.5rem;
    
    
}

.social{
 display: block;
 
}

.social img{
    width:42px;
    height:42px;
}

.progressive {
		grid-template-columns: 1fr 1fr;
        margin: 0 1.5rem;
	}

}