@media only screen and (min-width: 70em) {

    .weathersummary{
    position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	
    background-color: #906ef65d;
    }


    .progressive {
		grid-template-columns: 1fr 1fr 1fr;
        margin: 0 1.5rem;
	}

	.progressive picture:nth-child(3) {
		grid-column: span 1;
	}

    .progressive p{
	    display: block;
}

.cards {
		grid-template-columns: 1fr 1fr 1fr;
        margin: 0 1.5rem;
		
	}
	
.cards img{
	width:100%;
}
.progressive :hover {box-shadow: 0 0 50px #333;}
}   